.box2{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom: 10px;
    padding: 15px 18px;
    overflow: hidden;
}
.box2 .two{
    width: 80px;
    height: 80px;
    border: 1px solid #BABDC1;
    padding: 2px;
}
.ul li{
    float: left;
    font-size: 20px;
    color: #18BEBE;
    margin: 0 12px;
}
.ul li ul{
    margin: 9px 0;
}
.ul li ul li {
    clear: both;
    font-size: 17px;
    color: #515151;
    margin: 0px;
}
/*第十行*/
.bottom{
height: 218px;
background-color: #515151;
border:1px solid #515151;
}
.inner {
width: 1000px;
margin:0 auto;  
}
.in-top{
margin:25px 124px 29px 16px;
height: 123px;
width: 862px;
}
.in-left{
width: 474px;
float:left;
}
.in-left img{
width: 120px;
height: 70px;
margin-bottom:14px;
}
.in-left p{
line-height:22px;
font-size:13px;
color:#d3d3d3;
}
.in-left .in-first{
color:white;
}
.lianjie{
width: 388px;
height: 84px;
margin-top:34px;
float:left;
}
.lianjie a{
color:#d3d3d3;
font-size:11px;
}
.in-mid{
margin:0px 80px 0 0;
float:left;
width: 44px;
height: 73px;
}
.inm-mid{
display:block;
margin:10px 0;
}
.in-right{
height: 84px;
width: 96px;
float:left;
margin-left: 44px;
} 
.inr-up{
height: 30px;
position:relative;
}
.inr-up img{
position:absolute;
left:0;
top:0;
}
.inr-up a{
position:absolute;
right:13px;
bottom: 8px;
}
.inr-mid{
height: 26px;
position:relative;
}
.inr-mid img{
position:absolute;
top:-3;
left:4px;
}
.inr-mid a{
position:absolute;
right:1px;
bottom: 8px;
}
.inr-bot{
height: 26px;
position:relative;
}
.inr-bot img{
position:absolute;
top:0px;
left:3px;
}
.inr-bot a{
position:absolute;
right:12px;
bottom: 8px;
}
.in-bottom hr{
border: 1px solid #6f7273;
}
.in-bottom p {
margin: 15px 0 0 17px;
color: #c5c6c5;
float: left;
font-size:13px;
}

.bl-ad {
margin: 15px 17px 0 0;
color: #c5c6c5;
float: right;
font-size:13px;
}
.zero{
color: white;
}
body{
height:1500px;
}
#test{
width:30px;
height:30px;
border:2px solid #18BEBE;
border-radius: 1em;
text-align: center;
position: fixed;
right:10px;
bottom:50px;
}
#test a i{
margin-top: 15px;
color: #18BEBE;
}