.container{
    margin-left: auto;
    margin-right: auto;
    height:40px;
    width:1024px;
    text-align:center;
    line-height: 40px;
}
.start{
    float: left;
    overflow:hidden;
    }
.end{
    float: right;
    overflow:hidden;
    }
a{
    text-decoration: none;
}
.container a{
    margin-right:60px;
    font-size: 20px;
    color:#333;
    }
.start>.icon{
    display: block;
    width:19px;
    height:19px;
    position:absolute;
    top:50%;
    margin-top:-10px;
}
.start>.first{
    margin-left:10px;
    color:#5B5C5C;}
.start,.end{
    position:relative;
    color:#5B5C5C;}
.end>.icon{
    top:50%;
    margin-top:-10px;
    position:absolute;
    width:19px;
    height:19px;
}
.end>.adm{
    padding-left:10px;
}
.start,.end{
    font-size: 14px;
    cursor:pointer
    }