.tab{
    width: 1040px;
    height: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
.page{
    width: 116px;
    height: 33px;
    background-color: #eee;
    text-align: center;
    line-height:33px;
    float:left;
    margin:1px 0;
}
.page a{
    color: #777777;
}
.number{
    color:#393b3f;
    float:left;
    margin:10px 38px;
}
.number a{
    margin-right:11px;
    font-size:18px;
    color: #777777;
}
.number a:hover{
    color:#feb02c;
    text-decoration: underline;
}
.number .tail{
    margin-right:0;
    display:inline-block;
}
.tab form{
    width: 313px;
    height: 35px;
    float:left;
    line-height:35px;
    margin-left:37px;
    position:relative;
}
.tab input{
    height: 28px;
    width: 28px;
    border:2px solid #515151;
    margin:0 13px 0 13px;
}
.tab button{
    height: 35px;
    width: 65px;
    color:white;
    background-color: #ffa700;
    position:absolute;
    right:0;
    bottom:0;
    border:none;
    font-size:17px;
}