.introduce{width: 1200px;
    border-radius: 20%;
    border: 1px solid #1E1D38;
    background-color: rgb(32, 167, 195,0.2);
    position: absolute;
    float: left;
    top: 200px;
    left: 10%;
}
.introduce .line1{
    animation: animate 2s infinite;
    width:800px;
    height:1px;
    margin-bottom: 20px;
}
.hd1{
    width: 1000px;
    height: 100px;
    margin: 20px auto;
}
.hd1 img{width: 100px; height: 100px;}
.hd1 .word{width: 760px;float: right;position: relative;}
.hd1 p{
    color: antiquewhite;
    font: 18px;
    line-height: 30px;
}
.nav{width: 1000px;margin: 0 auto;}
.nav .left,.mid,.right{height: 200px;width: 300px;float: left;}
.nav .mid img,.right img{height: 190px;width: 290px;}
.mid{margin-right:50px;}
.left p{
    color: antiquewhite;
    font: 18px;
    line-height: 30px;
}