*{margin: 0;padding: 0;}
body{background: url("../../img/bg.jpg") no-repeat;background-size: cover;background-attachment: scroll;cursor:url('../../img/point3.png'),auto;}
a{cursor:url('../../img/point4.png'),pointer;}
#canvas{opacity: 0.4;background: none;}
@keyframes animate{
    0%{
       background: #333;
    }
    25%{
        background: red;
        width:25%;
    }
    50%{
        background: blue;
        width:50%;
    }
    70%{
        background: yellow;
        width:70%;
    }
    100%{
        background:green;
        width:100%;
    }
}

.menu{position: absolute;float: left;top: -8px;}
.title{height:340px;}
a{text-decoration: none;color: beige;}
.bgs{position: absolute;left: 90%;top: 0;z-index: 10;width: 100px;height: 100px;}
.hd{
    width: 450px;
    height: 450px;
    margin: -20px auto ;
    border-radius: 5%;
    text-align: center;
}
iframe:hover{transform: scale(1.5);}
iframe{transition: all 1s;}
.body{width: 1500px;margin: 20px auto;z-index: 1;}
.body div{
    text-align: center;
    font-size: 13px;
    position: relative;
    float: left;
    transition: all 1s;
}
.body div:hover{transform: scale(1.5)}
.xing1{
    left: 240px;
    top: 145px;
}
.xing2{
    left: 295px;
    top: 130px;
}
.xing3{
    left: 480px;
    top: 160px;
}
.xing4{
    left: 740px;
    top: 205px;
}
.xing5{
    left: 820px;
    top: 15px;
}
